doctype html
html(lang='ko')
  head
    title= pageTitle
    script(src='src/test.js')
  body
    h1 uiSlide demo page
    h2 normal
    .slide
        ul(style='display: block; margin: auto;')
            -for(var i = 1; i <= 10; i++)
             li= 'iteaam'+i
    script.
        var a = new uiSlide('.slide');