doctype html
html(lang='ko')
  head
    title= pageTitle
    script(src='src/test.js')
    style.
        img {
            display: block;
            width: 100%;
        }

        ul {
            padding: 0;
        }

        li {
            list-style: none;
        }

        .slideNormal {
            position: relative;
            height: 300px;
        }

        .slideNormal.fixed li {
            position: static;
        }

        .slideNormal ul {
            height: 100%;
            margin: 0;
        }

        .slideNormal li {
            position: relative;
            height: 100%;
        }

        .slideNormal span {
            position: absolute;
            top: 50%;
            left: 10px;
            width: 100px;
            height: 100px;
            margin-top: -50px;
            line-height: 100px;
            text-align: center;
            border: 5px double #333;
            background: #fff;
        }
  body
    h1 uiSlide demo page
    h2 normal
    .slideNormal
        ul
            -for(var i = 1; i <= 10; i++)
                li
                    img(src='data/img/sampleimg' + [i] + '.jpg')
                    span= '이미지정보' + i 
    script.
        var a = new uiSlide('.slideNormal', {
            zIndex: true,
            width: '100%',
            fixed: [3, 4, 5]
        });